/* COLOURS
Background grey (from image): #f6f6f6
Mid grey: #c4c4c4
Dark grey: #626262
Dark green: #0c4c4c
Lighter green: #245D5D
Orange: #d96031
*/

/* FONTS
'Merriweather', 'Times New Roman', Times, serif
'Raleway', 'helvetica', sans-serif
'Schoolbell', cursive
*/


html {
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-family: 'Schoolbell', cursive;
    margin: 0;
  padding: 0;
    
    
    
}

body {
    background-image: url("/images/paper_fibers.png");
    margin: 0;
  padding: 0;
}

.wrapper {
    display: grid;
    
    grid-template-areas:
    "home-link"
    "top-border"
     "top-nav"
     "title-bar"
     "text-container"
     "jump-bar"
     "bot-border"
     "footer";
  }

  @media (min-width: 800px) { 
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
      "home-link top-nav top-nav top-nav"
      "top-border top-border top-border top-border"
      "title-bar title-bar title-bar title-bar"
      "text-container text-container text-container text-container"
      "jump-bar jump-bar jump-bar jump-bar"
      "bot-border bot-border bot-border bot-border"
     "footer footer footer footer";
  }
}






/* HEADER */

.home-link {
    grid-area: home-link;
    padding: 14px 16px;
    background-color: blue;
}

.home-link a {
    font-family: 'schoolbell', cursive;
    color: red;
    font-size: 1.6em;
    text-decoration: none;
    
}


.topnav {
    grid-area: top-nav;
    overflow: hidden;
    background-color: blue;
  }
  

  .topnav a {
    float: right;
    display: block;
    color:red;
    font-size: 1.6em;
    text-align: center;
    padding: 14px 16px;
    font-family: 'schoolbell', cursive;
    text-decoration: none;
    
  }
  
 
  .topnav a:hover {
    color: #d96031;
  }
  
  
  .topnav a.active {
    background-color: #626262;
    color: #FEFFFF;
  }
  
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } 

  .top-border {
    grid-area: top-border;
    background-color: #245D5D;
    height: 1px;
  }


.title-bar {
  grid-area: title-bar;
  margin: 0;
  width: 100%;

  
}

.title-bar p {
font-family: 'schoolbell', cursive;
text-align: center;
font-size: 2em;
color: red;
 background-color: blue;
 padding-top: 10px;
 padding-bottom: 10px;
 margin: 0;
}

  .text-container {
    grid-area: text-container;
    margin: 20px auto;
    padding: 50px 100px 30px 100px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 8px; */
}

.text-container h2 {
  font-family: 'schoolbell', cursive;
  font-size: 2.5em;
  text-align: left;
  
}

.text-container p {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  line-height: 1.6;
  text-align: left;
  
}
mark {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(5, 5, 5, 0);
}


.jump-bar {
  grid-area: jump-bar;
  overflow: hidden;
  margin: auto;
  width: 100%;

  
}

.jump-bar p {
font-family: 'schoolbell', cursive;
text-align: center;
font-size: 1.4em;
color: red;
}

  .bot-border {
    grid-area: bot-border;
    background-color: #245D5D;
    height: 1px;
  }

.footer {
  grid-area: footer;
  overflow: hidden;
}

.copyright {
  float: left;
    display: block;
    text-align: right;
    padding: 4px 16px;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    
    color: #626262;
    font-size: 0.8em;

  }
  


  .footer a {
   
    float: right;
    display: block;
    text-align: right;
    padding: 4px 16px;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    
    color: #626262;
    text-decoration: none;
    font-size: 0.8em;

  }
  
